## For "nvram", mmcblk0p7
allow rild radio_device:blk_file rw_file_perms;
allow rild radio_data_file:file { rw_file_perms setattr };

allow zygote { video_device console_device knv_device }:chr_file { rw_file_perms execute };

# Allow querying of asec size on SD card
allow installd sdcard_external:dir search;
allow installd sdcard_external:file getattr;

# Misc
allow kernel fuse:dir search;
allow netd kernel:system module_request;
allow sysinit calibration_data_file:dir getattr;

# Netd
allow netd self:capability fsetid;

# Fm radio
allow platform_app video_device:chr_file rw_file_perms;

# Text relocs
#bootanim
allow bootanim system_file:file execmod;
#gralloc
allow untrusted_app system_file:file execmod;
#nfc
allow nfc system_file:file execmod;
#radio
allow radio system_file:file execmod;
