allow mediaserver nvcam_data_files:file rw_file_perms;

# Permit mediaserver to create sockets
allow mediaserver self:socket create;
allow mediaserver nvcam_data_files:dir { search write add_name };
allow mediaserver system_server:unix_stream_socket rw_socket_perms;
allow mediaserver radio_device:chr_file { read write open };
allow mediaserver sysfs_wake_lock:file rw_file_perms;

allow mediaserver sensorservice_service:service_manager { add find };

#Camera
allow mediaserver mnt_user_file:dir search;
allow mediaserver mnt_user_file:lnk_file read;
allow mediaserver mnt_user_file:file r_file_perms;
allow mediaserver storage_file:dir search;
allow mediaserver storage_file:lnk_file read;
allow mediaserver storage_file:file r_file_perms;

allow mediaserver NvCpuService:binder call;
allow mediaserver hardware_service:service_manager { add find };

#text relocs in nvidia things
allow mediaserver system_file:file execmod;
